extends layout

block markup
    aside#sidebar.primarycolor
      img#sidebar-logo(src="/images/penguin.png", alt="Penguin")
      ul#sidebar-menu.menu
          li#sidebar-menu-penguin.menuitem penguin
                div.triangle.triangle-big-right.hidden
          li#sidebar-menu-students.menuitem students
                div.triangle.triangle-big-right.hidden
          li#sidebar-menu-faculty.menuitem faculty
                div.triangle.triangle-big-right.hidden
          li#sidebar-menu-clubs.menuitem clubs
                div.triangle.triangle-big-right.hidden
          li#sidebar-menu-blog.menuitem blog
                div.triangle.triangle-big-right.hidden

    #content.medium
        #content-penguin.container
            #content-penguin-about.content
                section#penguin-aboutoleft.container.content.twocol.left
                    iframe(width="100%", height="450",
                    src="http://www.youtube.com/embed/j3Q7hONqQBk", frameborder="0")
                section#penguin-about-right.container.content.twocol.right
                    h1.heading What is Penguin?
                    p Penguin is Lock Haven University's only Linux environment. It is
                        | suited to handle many things for students interested in
                        | Linux / Unix. The system is comprised of more than 300
                        | students, one primary educational lab, and one experiement lab. 

                    p The labs are open to any Lock Haven University student
                        | interested in the platform. The primary use for the labs
                        | is to provide an emmersive experience, with an emphasis on
                        | fun and simplcitiy to LHU Applied Computer Science
                        | students. The lab overall, is the best way to both achieve
                        | and supplement an Applied Computer Science degree from LHU.

                    h1.heading Why Linux?
                    p Linux is an operating system that is extremely well-suited
                        | to the needs of programmers due to its speed, stability, and
                        | availability of programming tools. It gives users access to a
                        | UNIX-based operating system with the convenience of a
                        | graphical user interface, which makes it ideal for students
                        | who have little or no UNIX experience.
                    h1.heading Technical Specs
                    ul
                        li Dual quad 2G Hz processors (8M Cache)
                        li 8GB Ram (667Mhz)
                        li RAID 10 with 146 GB drives (hot swapable)
                        li Dual GB Ethernet
                        li Dual Power Supply
            #content-penguin-signup.content
            #content-pengiun-downloads.content
            #content-penguin-webmail.content
            table#content-penguin-submenu.submenu
                tr
                    td.submenuitem about
                    td.submenuitem downloads
                    td.submenuitem sign up / login
                    td.submenuitem web mail
                    td.submenuitem FAQ

        #content-students.hidden
            table#content-students-submenu.submenu
                tr
                    td.submenuitem featured
                    td.submenuitem courses
                    td.submenuitem another-menu
                    

        #content-faculty.hidden
            table#content-faculty-submenu.submenu
                tr
                    td.submenuitem faculty
                    td.submenuitem assistants
                    td.submenuitem others

        #content-clubs.hidden
            table#content-faculty-submenu.submenu
                tr
                    td.submenuitem clubs@penguin
                    td.submenuitem ACM
                    td.submenuitem coding club

        #content-blog.hidden
            table#content-blog-submenu.submenu
                tr
                    td.submenuitem announcements
                    td.submenuitem ACM
                    td.submenuitem coding club
                    td.submenuitem open threads

    #modal.hidden
        #modal-overlay
        #modal-content
