extends layout
block markup
    aside#sidebar.primarycolor
      - if (loggedin)
        a#sidebar-welcome(href="#") Welcome, #{user.first}
      img#sidebar-logo(src="/images/penguin.png", alt="Penguin")
      ul#sidebar-menu.menu
          li#sidebar-menu-penguin.menuitem penguin
                div.triangle.triangle-big-right.hidden
          li#sidebar-menu-students.menuitem students
                div.triangle.triangle-big-right.hidden
          li#sidebar-menu-faculty.menuitem faculty
                div.triangle.triangle-big-right.hidden
          li#sidebar-menu-clubs.menuitem clubs
                div.triangle.triangle-big-right.hidden
          li#sidebar-menu-blog.menuitem blog
                div.triangle.triangle-big-right.hidden

    #content.medium
        #content-penguin.container
            #content-penguin-about.content
                section#penguin-aboutoleft.container.content.twocol.left
                    iframe(width="100%", height="450",
                        src="http://www.youtube.com/embed/XoPPViAnBGw?rel=0",
                        frameborder="0")
                    h1.heading Latest News
                    table#latest-news.articles(cellspacing="0")
                section#penguin-about-right.container.content.twocol.right
                    h1.heading What is Penguin?
                    p Penguin is Lock Haven University's only Linux environment. It is
                        | suited to handle many things for students interested in
                        | Linux / Unix. The network is comprised of more than 110
                        | students, one primary educational lab, and one
                        | experiemental lab. 

                    p The labs are open to any Lock Haven University student
                        | interested in the platform. The primary use for the labs
                        | is to provide an emmersive experience, with an emphasis on
                        | fun and simplcitiy to LHU Applied Computer Science
                        | students. The lab overall, is the best way to both achieve
                        | and supplement an Applied Computer Science degree from LHU.

                    h1.heading Why Linux?
                    p Linux is a free and open platform that is well suited for users
                        | with many needs. For students at Lock Haven (Computer
                        | Science or not), Linux provides a means to get things done.
                        | Folks not knowing or unfamiliar with Linux, may never get
                        | the chance to see what a bother proprietary systems can
                        | bring.

                    p Take this then, as your chance to experience something a bit
                        | different and broaden your horizons in the world of technology.

                    h1.heading Penguin Power
                    

            #content-pengiun-downloads.content
                p Coming soon
            #content-penguin-signup.content
                section#penguin-account-about.container.content.twocol.left
                    h1.heading Perks of being a Penguin
                    p Having an account with Penguin is the best way, well,
                        | the only way really, to supplement your LHU Linux experience
                        | online. With an account, you will be able to contribute
                        | content to other students and give constructive input on what
                        | others have to share. Signing up is simple and only takes a
                        | few minutes (mostly to verify the account through the LHU
                        | directory system).

                    p Your account will maintain state with the changes you make
                        | to your account in the Penguin Lab, and visa versa. The goal
                        | at hand is to make your Penguin experience seamless. Trivial
                        | tasks which can become mundane, like changing your account
                        | password at the system suggested intervals, will become a
                        | sinch through the Penguin Site.

                    p Not particiapting in the Applied Computer Science Major?
                        | Not a big deal at all. The program embraces any and all that
                        | want to try something new (especially when it's free
                        | software)! As long as you are a student of LHU and plan to
                        | actively give your account a try, you're eligable to sign up.

                    h1.heading See who's online!

                section#penguin-account.container.content.twocol.right
                    h1.heading Penguin Login
                    form#penguin-login(action="")
                        ul
                            li
                                input(type="text", placeholder="username")
                            li
                                input(type="password", placeholder="password")
                            li.hidden
                               p.error
                            li
                                button(type="button") Login
                    h1.heading Sign up for an account
            #content-penguin-webmail.content
                p Coming soon
            #content-penguin-faq.content
                p Coming soon
            table#content-penguin-submenu.submenu
                tr
                    td.submenuitem about
                    td.submenuitem downloads
                    td.submenuitem sign up / login
                    td.submenuitem web mail
                    td.submenuitem FAQ

        #content-students.hidden
            #content-penguin-featured.content
                p Featured students coming soon
            #content-penguin-courses.content
                p Course description coming soon
            table#content-students-submenu.submenu
                tr
                    td.submenuitem featured
                    td.submenuitem courses
                    

        #content-faculty.hidden
            table#content-faculty-submenu.submenu
                tr
                    td.submenuitem faculty
                    td.submenuitem assistants
                    td.submenuitem others

        #content-clubs.hidden
            table#content-clubs-submenu.submenu
                tr
                    td.submenuitem clubs@penguin
                    td.submenuitem ACM
                    td.submenuitem coding club
        #content-blog.container.hidden
            #content-blog-acm.content
                section#penguin-aboutoleft.container.content.twocol.left
                section#penguin-about-right.container.content.twocol.right
                    h1.heading ACM - Latest Posts
                    table#acm-latest.articles(cellspacing="0")
            table#content-blog-submenu.submenu
                tr
                    td.submenuitem announcements
                    td.submenuitem ACM
                    td.submenuitem coding club
                    td.submenuitem open threads

    #modal
        #modal-overlay.hidden
        #modal-manage-container.hidden
            .bounds
                #modal-manage-content
                    .wrapper
                aside#modal-manage-aside
                    .bounds
                        ul#manage-account-menu.modal-menu.modal-submenu.hidden
                            li.modal-menu-item notifications
                            li.modal-menu-item appearance
                            li.modal-menu-item settings
                        ul#manage-blog-menu.modal-menu.modal-menu.hidden
                        ul#manage-admin-menu.modal-menu.modal.submenu.hidden

                        ul#manage-main-menu.modal-menu
                            li.modal-menu-item account
                            li.modal-menu-item shell
                            li.modal-menu-item calendar
                            li.modal-menu-item blog
                            li.modal-menu-item admin
                    .modal-close X
        #modal-post-container.hidden
            .bounds
                #modal-post-content
                #modal-post-close.modal-close x
                #modal-post-minimize.modal-minimize _

