/* Classes */
body, html { color: white; font-family: helvetica; font-weight: lighter; height: 100%; 
	margin: 0; overflow: hidden; padding: 0; }


/* Content & Font specific */ 
	.content { padding: 5px; position: relative; width: 100%; height: 95%; 
		overflow-y: auto; overflow-x: hidden; }
	.container { height: inherit; width: inherit; }
	.wrapper { position: relative; width:100%; padding: 5px; }
	.bounds { height: 100%; overflow: hidden; position: relative; width:100%; }

	.heading { font-weight: normal; margin: 0; color: #8AB509; 
		background: #EEE; padding-left: 5px; padding-top: 5px; 
		border-radius: 6px 0px 6px 0px; }
	p { font-size: 0.8em; line-height: 1.3em; }
	section { background: #222; }


	/* Articles */
	.articles { border-collapse: seperate; border-spacing: 0 1px; margin-top: 5px;
		width: 100%; }
	.article { background: #444; opacity: 0.8; }
	.article:hover { cursor: pointer; opacity: 1; }
	.article-header { border-left: 5px solid #8AB509; font-size: 1.0em; padding: 5px; 
		vertical-align: top; width: 40%;  }
	.article-teaser { font-size: 0.7em; padding: 5px; vertical-align: top;
		width: 40%; }
	.article-meta { font-size: 0.8em; vertical-align:
		top; width: 20%; }
	.article-meta p { margin: 0; }


/* Main-menu specific */
	.menu { list-style: none; margin: 0; padding: 0; }
	.menuitem { padding-bottom: 4px; padding-left: 2em; padding-top: 4px; }
	/*.menuitemhover {}
	.menuitemactive {}*/

/* Sub-menu specific */
	.submenu { bottom: 8px; position: absolute; text-align: center; }
	.submenuitem { padding-left: 15px; padding-right: 15px; }
	.submenuhover { box-shadow: 0px 8px 0px 0px white; cursor: pointer; }
	.submenuactive { background: white; color: #8AB509; cursor: pointer !important; }

	.submenu-notification { background: #8AB509; border: 1px solid white; 
		color: white; font-size: 0.6em; padding-left: 3px; padding-right: 3px; 
		position: absolute; right: 5%; text-shadow: none; top: 20%; }


/* Modal specific */	
	.modal-close { background: #BBB; color: #EEE; font-size: 1.3em; padding-left: 5px;
		padding-right: 5px; position: absolute; right: 0.5%; top: 0.5%; }
	.modal-minimize { background: #BBB; color: #EEE; font-size: 1.3em; padding-left: 5px;
		padding-right: 5px; position: absolute; right: 4.5%; top: 0.5%; }
	.modal-close:hover { background: #999; color: white; cursor: pointer; }
	.modal-minimize:hover { background: #999; color: white; cursor: pointer; }

	.modal-menu { font-size: 2em; list-style: none; margin: 0; padding-left: 5px; }

	.modal-submenu { font-size: 1.4em; padding: 0; position: absolute; 
		text-align: center; top: 10%; width: 100%; }

	.modal-menu-item { width: 100%; }
	.modal-menu-item:hover { border-left: 8px solid #8AB509; cursor: pointer; }
	.modal-menu-item:active { background: #BBB; border: 0 !important;
		box-shadow: 0px 1px 4px 0px #777; cursor: normal !important; }

/* Comment speicifc */
	.comment { background: #444; margin: 5px; position: relative; }
	.comment-content-meta { float: left; font-size: 0.8em; list-style: none; 
		margin: 0; padding: 5px; }
	.comment-content-post { margin: 0; padding-left: 115px; }
	.comment-actions { clear: both; }

	
/* Form specific */
	form input[type=text], input[type=password] { background-color: white; 
		border-left-color: transparent; border-left-style: solid;
		border-width: 0px 0px 0px 4px; height: 2em; outline: none; padding-left: 10px;
		width: 50%; }

	form input[type=text]:focus, input[type=password]:focus {
		border-left-color: #8AB509; }

	form input[placeholder="username"] { 
		background-image: url('/images/hero_cosmic.png');
		background-color: white !important; background-position: 97% 50% !important;
		background-repeat: no-repeat no-repeat !important; }

	form input[placeholder="password"] {
		background-image: url('/images/lock.png');
		background-color: white !important ; background-position: 97% 50% !important;
		background-repeat: no-repeat no-repeat !important; }

	button {
		border-width: 0px 0px 0px 4px;
		border-color: transparent;
	}

	button:focus, button:hover {
		border-color: #8AB509;
		cursor: pointer;
	}
	

/* Triangle specific */
	[class*='triangle-big-'] 
	{ border-bottom: 20px solid transparent; border-top: 20px solid transparent; }
	[class*='triangle-small-'] 
	{ border-bottom: 10px solid transparent; border-top: 10px solid transparent; }

	.triangle-big-left { border-left: 20px solid #333; }
	.triangle-small-left { border-left: 10px solid #333; }
	.triangle-big-right { border-right: 20px solid #333; }
	.triangle-small-right { border-right: 10px solid #333; }

/* Color and non-parent specific classes */
	.primarycolor { background: #8AB509; }
	.secondarycolor { background: #444; }
	.hidden { display: none !important; }
	.left { float: left; }
	.right { float: right; }
	.oncol { width: 100%; }
	.twocol { width: 48%; }
	.threecol { width: 31%; }
	.viewed { opacity: 0.6 !important; }

/* ID's */

/* Sidebar related */
	#sidebar { float: left; height: 100%; min-height: 25%; width: 250px; }

	#sidebar-logo { padding-bottom: 20px; padding-left: 45px; padding-top: 20px; 
		width: 160px; }

	#sidebar-menu { bottom: 4em; font-size: 2em; position: absolute; width: 250px; }

	#sidebar-menu .triangle { display: inline-block; float: right; height: 100%; 
		min-height: 25%; }

	#sidebar-welcome { color: white; display: inline; font-size: 0.8em; 
		padding: 3px; }

/* Content related */
	#content { background: #333; height: 100%; margin-left: 250px; }


/* Modal Related */
	#modal-overlay {
		background: #333; height: 100%; opacity: 0.8; position: absolute; top: 0; 
		width: 100%; z-index: 5000; }

	#modal-manage-container { background: #222; height: 700px; margin-left: 20%; 
		position: absolute; top: 0; top: 3%; width: 900px; z-index: 5000; }

	#modal-manage-content { height: 100%; position: absolute; width: 75%; }

	#modal-manage-aside { background: #DDD; color: #333; height: 100%; position: absolute;
		right: 0; text-shadow: 0px 1px white; width: 25%; }

	#manage-main-menu { bottom: 0; position: absolute; width: 100%; }	


/* Blog view specific */

	#modal-post-container { background-color: #333; border-right-color: #8AB509; 
		border-right-style: solid; border-right-width: 0px; 
		box-shadow: black 3px 0px 24px -3px; display: block; height: 100%; left: 0px; 
		opacity: 0.99; position: absolute; top: 0px; width: 600px; z-index:1000 ; }

	#modal-post-content { padding-top: 35px; }

	#post-loupe-container { float: left; margin-bottom: 15px; width: 50%; }

	#post-author-container { float: left; margin-bottom: 15px; width: 50%; }

	#post-content-container { clear: both; height: 500px; overflow-y: auto; 
		padding: 0px; }

	#post-loupe-main { width: 100px; }
	#post-loupe-thumbs img { width: 30px; }

	#post-author-thumb { width: 100px; }
	#post-author-data { display: inline; float: right; list-style: none; margin: 0;
		padding: 0; }

	#modal-post-comment-toggle { bottom: 10px; font-size: 0.6em; position: absolute; 
		right: 10px; }
	#modal-post-comments { background-color: #333; box-shadow: black 3px 0px 24px -3px;
		height: inherit; position: absolute; right: -610px; top: 0; width: 600px; }

/* Login form */
	#penguin-login { text-align: center;  }

	#penguin-login ul { list-style: none; padding: 0; }
	#penguin-login li { padding-top: 5px; }
	


	
